// Import sass libraries.
@import "compass";

@import "variables/*";
@import "layouts/*";

@import "modules/*";

// Font.
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$base-font-size: 12px;

$grids: 12;
$gutters: 0;
$output: 'float';

$head-cols: 2;
$body-cols: $grids - $head-cols;

$cell-size: 20px;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
}
.clearfix {
  @include clearfix();
}

.race {
  margin-left: $base-font-size;
}
