

.l-team-row {
  clear: both;
  margin-bottom: 1em;
  position: relative;
  page-break-inside: avoid;
}
.l-team-row-head {
  width: 200px;
  float: left;
  clear: right;
  position: absolute;
}
.l-team-row-races {
  margin-left: 200px;
  float: left;
  clear: right;
}
