<div class="header">
  <h1>finallapgame season sheet</h1>
  <p>This is an unofficial season sheet for the great <a href="http://www.finallapgame.com/">Final Lap Card Game</a>.</p>
</div>

<div class="settings">
  <form>
    <label>number of races ({{nraces}})</label>
    <input type="number" ng-model="nraces" min="1" required>
    <a ng-click="saveSettings()">Save settings</a>
  </form>
</div>

<div class="sheet">
  <div ng-repeat="team in teams" class="l-team-row clearfix">

    <div class="l-team-row-head">
      <div class="col-label">
        <span class="team-name">{{team.name}}</span>
        <span class="team-color">({{team.color}})</span>
      </div>
      <div class="col-body">
        <div></div>
        <div>{{team.drivers.red}} (red)</div>
        <div>{{team.drivers.blue}} (blue)</div>
        <div>Team total</div>
      </div>
    </div>

    <div class="l-team-row-races">
      <div ng-repeat="race in races" class="col race">
        <div class="col-label">{{race.name}}</div>
        <div class="col-pile col-pile-cells">
          <div>Pos</div>
          <div><span class="col-cell-border"></span></div>
          <div><span class="col-cell-border"></span></div>
        </div>
        <div class="col-pile col-pile-cells">
          <div>Points</div>
          <div><span class="col-cell-border"></span></div>
          <div><span class="col-cell-border"></span></div>
          <div><span class="col-cell-border"></span></div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<div class="footer">
  <p>with ♥ and open source</p>
</div>
