<div class="settings" ng-class="'no-print settings settings-' + settings.status">
  <div class="settings-content">
    <a href="" ng-click="toggleSettings()" class="close-link no-print">close [x]</a>
    <h2>Settings</h2>
    <form >
      <h3>Number of races</h3>
      <input type="number" ng-model="settings.races" ng-change="saveSettings()">
      <h3>Teams</h3>
      <div ng-repeat="team in teams">
        {{team.name}} <input type="checkbox" ng-model="team.active" ng-change="saveSettings()">
      </div>
    </form>
  </div>
</div>
<div class="page">
  <div class="header">
    <h1>finallapgame season sheet</h1>
    <nav class="main-nav  no-print">
      <ul class="main-menu">
        <li><a href="http://www.finallapgame.com/" target="_blank">The card game</a></li>
        <li><a href="" ng-click="toggleSettings()" class="settings-link no-print">Settings</a></li>
      </ul>
    </nav>
    <p class="no-print">This is an unofficial season sheet for the great <a href="http://www.finallapgame.com/" target="_blank">Final Lap Card Game</a>.</p>
  </div>
  <div class="sheet">
    <div ng-repeat="team in teams" class="l-team-row clearfix" ng-if="team.active">

      <div class="l-team-row-head">
        <div class="col-label">
          <span class="team-name">{{team.name}}</span>
          <span class="team-color">({{team.color}})</span>
        </div>
        <div class="col-body">
          <div></div>
          <div>{{team.drivers.red}} (red)</div>
          <div>{{team.drivers.blue}} (blue)</div>
          <div>Team total</div>
        </div>
      </div>

      <div class="l-team-row-races">
        <div ng-repeat="race in races" class="col race">
          <div class="col-label">{{race.name}}</div>
          <div class="col-pile col-pile-cells">
            <div>Pos</div>
            <div><span class="col-cell-border"></span></div>
            <div><span class="col-cell-border"></span></div>
          </div>
          <div class="col-pile col-pile-cells">
            <div>Points</div>
            <div><span class="col-cell-border"></span></div>
            <div><span class="col-cell-border"></span></div>
            <div><span class="col-cell-border"></span></div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer">
    <p>with ♥ and open source from <a href="http://derhasi.de" target="_blank">derhasi</a></p>
  </div>
</div>

